OPENBOT_SERVER_URL=http://100.68.65.17:4317
OPENBOT_LOCAL_HOST=100.101.71.18
OPENBOT_LOCAL_PORT=4318
OPENBOT_LOCAL_COMPUTER_URL=http://100.101.71.18:4318
OPENBOT_HOST=0.0.0.0
OPENBOT_WORKSPACE=/workspace
OPENBOT_DATA_DIR=/data
OPENBOT_X11_DISPLAY=:99
OPENBOT_X11_SCREENS=2
OPENBOT_X11_GEOMETRY=1920x1080x24
OPENBOT_X11_VIEWER_BASE_URL=http://100.68.65.17
